{% extends "base.html.twig" %}

{% block title %} Série #{{ categories.id }} {% endblock %}

{% block body %}

<div class="media">
<h3> List Program in Category : ** {{ categories.name }} ** </h3>
</div>

{% for program in programs %}
<div>
 <div class="media">
 <div class="media-img  pull-left  col-sm-5  col-md-4 ">
<img class="d-flex mr-3" src="{{program.poster}}" alt="{{ program.title }} "  width=50% >
{{ program.title }}
 </div> 
 </div>
 </div>
{% endfor %}

<a href="{{ path('categories_index')}}">
Retour à la liste des category
</a>
{% endblock %}
